* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

.logo {
  display: block;
  width: 200px;
  margin: 0 auto; }
  .logo a {
    width: inherit; }
    .logo a img {
      width: inherit;
      padding: 5px; }

.bookImage {
  width: auto; }
  .bookImage img {
    z-index: -2;
    position: absolute;
    width: 90%;
    margin: 0 auto; }

.specialsImage {
  width: auto; }
  .specialsImage img {
    z-index: -2;
    position: absolute;
    width: 90%;
    margin: 0 auto; }

.menuImage img {
  display: none; }

.foot {
  text-align: center;
  margin: auto;
  margin-bottom: 50px; }

@media only screen and (min-width: 768px) {
  .bookImage img {
    width: 90%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 40px; }

  .specialsImage img {
    width: 90%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 40px; }

  .menuImage {
    display: block; }
    .menuImage img {
      position: absolute;
      z-index: -2;
      width: 90%;
      height: 200px;
      object-fit: cover;
      margin-bottom: 40px; } }
.navSection {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 20px grey;
  margin-bottom: 20px; }
  .navSection .nav {
    width: 100%; }
    .navSection .nav ul {
      width: 90%;
      margin: 0 auto;
      text-align: center; }
      .navSection .nav ul li {
        display: inline-block;
        width: 30%;
        margin: 0 auto;
        padding: 5px; }

.contentConatiner {
  width: 100%;
  height: auto;
  margin: 0 auto; }

.header {
  margin: 20px; }

.mainContent {
  width: 90%;
  margin: auto; }

.logoCaption {
  font-size: 8px;
  text-align: center; }

.mainText {
  font-family: 'Abel', sans-serif; }

.aboutText {
  display: none; }

.nav ul li a {
  color: black;
  font-size: 20px; }

.btn {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 250px;
  margin: 0 auto; }

.buttonText {
  text-align: center;
  position: relative;
  margin: auto;
  width: 250px;
  font-size: 40px;
  background: green;
  color: white;
  border: 2px solid white; }

.hours {
  float: right;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  width: 200px;
  position: relative;
  bottom: 62px; }

.hours::after {
  clear: both; }

.times {
  z-index: -2;
  text-align: right;
  padding-right: 10px;
  opacity: 2; }

.menuImage {
  display: none; }

.form {
  display: none; }

.endText {
  font-family: Georgia;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1px;
  font-variant: small-caps;
  width: 331px;
  height: 36px;
  text-align: center;
  margin: 10px auto;
  padding: 100px 0px; }

@media only screen and (min-width: 768px) {
  .aboutText {
    display: block;
    width: 90%;
    max-width: 800px;
    text-align: center;
    margin: 30px auto;
    font-family: Georgia;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 1px;
    font-variant: small-caps; }

  .hours {
    bottom: 78px; }

  .menuImage {
    display: block; }
    .menuImage img {
      display: block; } }
@media only screen and (min-width: 1440px) {
  .aboutText {
    font-size: 20px; }

  .endText {
    font-size: 20px;
    width: 700px; } }
.form {
  display: none; }

@media only screen and (min-width: 768px) {
  .form {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 300px;
    margin: 0 auto; }

  .contactHeader {
    font-size: 30px;
    padding: 20px 0px;
    text-align: center; }

  .npeSec {
    width: 80%;
    margin: 0 auto; }

  .col1 {
    float: left; }

  .col2 {
    float: left; }

  .col3 {
    float: left; }

  .cols {
    display: inline-block;
    width: 33.3%; }

  .input {
    width: 95%;
    display: block; }

  .message {
    width: 80%;
    height: 100px;
    margin: 0 auto; }
    .message #message {
      width: 100%;
      height: 100px; } }

/*# sourceMappingURL=style.css.map */
