.form{
  display: none;
}
//media for ipad


@media only screen and (min-width:768px){


  .form{
    display: block;
    background: rgba(0,0,0,0.1);
    width: 400px;
    height: 300px;
    margin: 0 auto;

  }



  .contactHeader{
    font-size: 30px;
    padding: 20px 0px;
    text-align: center;
  }

  .npeSec{
    // display: block;
    width: 80%;
    margin: 0 auto;

  }
  .col1{
    float: left;
  }

  .col2{
    float: left;
  }

  .col3{
    float: left;
  }

  .cols{
    display: inline-block;
    width: 33.3%;
  }

  .input{
    width: 95%;
    display: block;
  }



  .message{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    #message{
      width: 100%;
      height: 100px;
    }




  }
}

@media only screen and (min-width:1440px){

  
}
