.header{
  background-image: url(../images/pancake.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;

  // width: 70%;
  // margin: 0 auto;

  height: 400px;


}




.logo{
  display: inline;
  width: 200px;
  margin: 0 auto;
  img{
    width: inherit;
    padding: 10px;
  }
}
