// .header{
//   background-image: url(../images/pancake.jpg);
//   background-size: contain;
//   background-attachment: fixed;
//   background-position: top;
//   background-repeat: no-repeat;
//
//
//   height: 150px;
//
//
// }




.logo{
  display: block;
  // box-shadow: 0px 0px 20px grey;
  width: 200px;
  margin: 0 auto;
    img{
      width: inherit;
      padding: 5px;
    }
}


.bookImage{
  background-image: url("../images/content1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  // text-align: center;
  min-width: 100%;
  min-height: 250px;
}

.specialsImage{
  background-image: url("../images/content2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  // text-align: center;
  min-width: 100%;
  min-height: 250px;
}



.foot{
  text-align: center;
  margin: auto;
}
