.logoCaption{
  font-size: 8px;
  text-align: center;
}

.mainText{
  font-family: 'Abel', sans-serif;
}

.aboutText{
  display: none;
}

.nav{
    ul{
      li{
        a{
          color: black;
          font-size: 20px;

        }
      }
  }
}

.btn{
  padding-top: 80px;
  padding-bottom: 80px;
  width: 250px;
  margin: 0 auto;
  // max-width: 400px;
}

.buttonText{
  text-align: center;
  position: relative;
  margin: auto;
  width: 250px;
  font-size: 40px;
  background: green;
  color: white;
  border: 2px solid white;
}

.hours{
  float: right;
  color: white;
  background: rgba(0,0,0,0.5);
  width: 200px;
  // margin-top: 18px;
  position: relative;
  bottom: 62px;
}

.hours::after{
  clear: both;
}
.times{
  z-index: -2;
  text-align: right;
  padding-right: 10px;
  opacity: 2;
}

.menuImage{
  display: none;
}


.endText{

  font-family: Georgia;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1px;
  font-variant: small-caps;
  width: 331px;
  height: 36px;
  text-align: center;
  margin: 10px auto;

}


//media for ipad

@media only screen and (min-width:768px){
  .aboutText{
    display: block;
    width: 90%;
    max-width: 800px;
    text-align: center;
    margin: 30px auto;

    font-family: Georgia;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 1px;
    font-variant: small-caps;
  }

  .hours{
    bottom: 78px;
  }

  .menuImage{
    display: block;
    img{
      display: block;
      }
    }
  }

//media for desktop

  @media only screen and (min-width:1440px){
    .aboutText{
      font-size: 20px;
    }

  }
